@require './nprogress'
@require './code'
@require './custom-blocks'
@require './arrow'
@require './wrapper'
@require './toc'

.page
  padding-left $sidebarWidth

.sidebar
  font-size 15px
  overflow-y auto

.sidebar-mask
  width 100vw;
  height 100vh;
  background rgba(0, 0, 0, 0.7);
  z-index 10;
  position fixed;
  top 0;
  display none

.nav-open .sidebar-mask
  display block;
  
@media (min-width: ($MQMobile + 1px))
  .theme-container.no-sidebar
    .sidebar
      display none
    .page
      padding-left 0

@require 'mobile.styl'
